project:
  type: website
  output-dir: docs
website:
  page-navigation: true
  comments:
    giscus:
      repo: amraamahmoud/amrbiostats_website
  open-graph:
    title: AMRBiostats
  title: "AMRBiostats"
  image: /images/opengraph.png
  site-url: https://www.amrbiostats.com
  description: A collection of resources for biostatistics and R programming.
  favicon: /images/favicon.png
  search:
    location: navbar
    type: textbox
    collapse-after: 1
  reader-mode: false
  back-to-top-navigation: true
  navbar:
    search: true
    logo: /images/favicon.png
    pinned: true
    left:
    - text: About Author {{< iconify solar:user-id-linear size=20px >}}
      href: author.qmd
    - text: GitHub {{< iconify octicon:mark-github-16 size=20px >}}
      href: https://github.com/amraamahmoud/amrbiostats_website.git
      target: _blank
    - text: Contact {{< iconify mdi:email-arrow-right size=23px >}}
      href: mailto:consultation@amrbiostats.com
    right:
      - text: Maths Refresher {{< iconify hugeicons:calculate size=24px >}} 
        href: maths_refresher.qmd
      - text: Biostatistics {{< iconify uis:graph-bar size=20px >}}
        href: biostatistics.qmd
    background: info
    foreground: light
  sidebar:
    - title: "Maths Refresher"
      border: true
      contents:
        - section: maths_refresher.qmd
          contents:
            - auto: "posts/maths_refresher/*.qmd"
    - title: "Biostatistics"
      contents: 
        - section: biostatistics.qmd
          contents:
            - section: "Introduction"
              contents:
                - auto: "posts/biostats/*intro.qmd"
            - section: "Descriptive Statistics"
              contents:
                - auto: "posts/biostats/*desc_stats.qmd"
  page-footer:
    border: true
    left:
    - text: License {{< iconify carbon:license-draft >}}
      href: https://creativecommons.org/licenses/by/4.0/legalcode
      target: _blank
    - text: Report an issue {{< iconify mdi:git-issue >}}
      href: https://github.com/amraamahmoud/amrbiostats_website/issues
      target: _blank
    right:
    - text: GitHub {{< iconify ri:github-fill >}}
      href: https://github.com/amraamahmoud/amrbiostats_website.git
      target: _blank
format:
  html:
    theme: cerulean
    code-fold: true
    code-summary: "Click to show/hide code"
    css:
    - styles.css
    - include/webex.css
    smooth-scroll: true
    toc: true
    linkcolor: '#033c73'
    link-external-newwindow: true
    lightbox: true
    fig-responsive: true
    include-after-body: include/webex.js
    number-sections: true
    number-depth: 5
editor: visual
execute:
  freeze: true
