@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



/* css styles */

/* I. Format Body text font */
body {
    font-family: 'Gothic A1';
    /*font-weight: 400;*/
    color: black;
}

/* II. Format Navigation bar items */
/* 1. Change background color of Navigation bar  */
.navbar {
    background: linear-gradient(to left, #0466c8, #004e92); 
}


/* 2. Format color, size, font of Navigation bar links */
.navbar a {
    color:  white !important;
    font-size: 16px;
}

/* 
3. Format Navigation items when the bar is collapsed 
.navbar-collapse.show .navbar-nav .nav-item {
  text-align: center;
  overflow: hidden;
}
*/

/* 4. Format navigation bar link on hovering and activation*/
.navbar-nav .nav-link, .navbar-brand {
  display: inline-block;
  transition: transform 0.3s;
}

.navbar-nav .nav-link:hover, .navbar-brand:hover {
  color: #9cc9fc !important;
  transform: translateY(-3px);
}

.nav-link.active {
  color: #9cc9fc !important;
  font-weight: 700 !important;
}

/* 5. Format navigation bar dropdown menu*/
.navbar .dropdown-item {
    font-size: 16px;
    color: #0466c8 !important;
}

.navbar .dropdown-item:hover, .navbar .dropdown-item:focus {
    color: white !important;
    background: linear-gradient(to right, #0466c8, #004e92);
}

.navbar-nav .dropdown-menu {
    font-size: .9rem;
    margin-top: 3px;
    background-color: white;
    overflow: visible !important;
    width: auto;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top:var(--bs-dropdown-spacer)
}

/* 6. Format search text */
/* 6A. Change searchbox text color */
.aa-Autocomplete .aa-Form .aa-InputWrapper .aa-Input, .aa-DetachedFormContainer .aa-Form .aa-InputWrapper .aa-Input {
  color: #0466c8;
}

/* 6B. Change background and color of searchboxes */
.aa-DetachedOverlay li.aa-Item[aria-selected=false] .search-item.search-result-more, .aa-DetachedOverlay li.aa-Item[aria-selected=false] .search-item .search-result-section, .aa-DetachedOverlay li.aa-Item[aria-selected=false] .search-item .search-result-text, .aa-DetachedOverlay li.aa-Item[aria-selected=false] .search-item .search-result-title-container, .aa-DetachedOverlay li.aa-Item[aria-selected=false] .search-item .search-result-text-container, #quarto-search-results li.aa-Item[aria-selected=false] .search-item.search-result-more, #quarto-search-results li.aa-Item[aria-selected=false] .search-item .search-result-section, #quarto-search-results li.aa-Item[aria-selected=false] .search-item .search-result-text, #quarto-search-results li.aa-Item[aria-selected=false] .search-item .search-result-title-container, #quarto-search-results li.aa-Item[aria-selected=false] .search-item .search-result-text-container {
  color: #0466c8 !important;
}

.aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item.search-result-more, .aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item .search-result-section, .aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item .search-result-text, .aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item .search-result-title-container, .aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item .search-result-text-container, #quarto-search-results li.aa-Item[aria-selected=true] .search-item.search-result-more, #quarto-search-results li.aa-Item[aria-selected=true] .search-item .search-result-section, #quarto-search-results li.aa-Item[aria-selected=true] .search-item .search-result-text, #quarto-search-results  li.aa-Item[aria-selected=true] .search-item .search-result-title-container, #quarto-search-results li.aa-Item[aria-selected=true] .search-item .search-result-text-container {
  color: white !important;
  background: linear-gradient(to left, #0466c8, #004e92) !important;
}

.aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item, #quarto-search-results li.aa-Item[aria-selected=true] .search-item {
  background: linear-gradient(to left, #0466c8, #004e92) !important;
}

.aa-DetachedOverlay .aa-Item[aria-selected=false] .search-item p, #quarto-search-results .aa-Item[aria-selected=false] .search-item p {
  color: #0466c8;
}

.aa-DetachedOverlay .aa-Item[aria-selected=true] .search-item p, #quarto-search-results .aa-Item[aria-selected=true] .search-item p {
  color: white;
}

.aa-DetachedOverlay li.aa-Item[aria-selected="true"] .search-item mark.search-match, .aa-DetachedOverlay li.aa-Item[aria-selected="true"] .search-item .search-match.mark, #quarto-search-results li.aa-Item[aria-selected="true"] .search-item mark.search-match, #quarto-search-results li.aa-Item[aria-selected="true"] .search-item .search-match.mark {
    color: #fff;
    background-color: #9cc9fc;
}

.aa-DetachedOverlay li.aa-Item[aria-selected="false"] .search-item mark.search-match, .aa-DetachedOverlay li.aa-Item[aria-selected="false"] .search-item .search-match.mark, #quarto-search-results li.aa-Item[aria-selected="false"] .search-item mark.search-match, #quarto-search-results li.aa-Item[aria-selected="false"] .search-item .search-match.mark {
    color: #fff;
    background-color: #9cc9fc;
}


/* III. Format Home page */
/* 1. Format Left column padding */
@media (min-width: 991px) {
    div.quarto-about-trestles .about-entity {
    padding-right: 1em;
    padding-top: 4em;
    }
}

@media (max-width: 991px) {
    div.quarto-about-trestles .about-entity {
     padding-right: 1em;
    }
}

/* 2. Format image in home page*/
div.quarto-about-trestles .about-entity .about-image {
    display: block;
    /* border-radius: 15px; */
    margin-bottom: 25px;
    padding-right: -5em;
    text-align: right;
}

@media (min-width: 991px) {
    div.quarto-about-trestles .about-entity .about-image {
        width: 60% !important;
         margin-left: 90px;
    }
}

/* 3. Format title of home page*/
.quarto-title-block.default .quarto-title .title {
    color: #0466c8;
}

@media (min-width: 991px) {
    .quarto-title-block.default .quarto-title .title {
    margin-bottom: 30px !important;
    }
}

@media (max-width: 991px) {
    .quarto-title-block.default .quarto-title .title {
    margin-bottom: 0px;
    }
}

/* 4. Format social link icons home page */
div.quarto-about-trestles .about-entity .about-link {
  background-color: transparent !important; 
  color: transparent !important;
  border: 0px;
  border-color: transparent !important;
  display: inline-block;
  transition: transform 0.3s;
}

div.quarto-about-trestles .about-entity .about-link:hover {
  background-color: transparent !important; 
  color: transparent !important;
  border-color: transparent !important;
  transform: translateY(-5px);
}

/* Add this for screens smaller than 992px */
@media (max-width: 991px) {
    div.quarto-about-trestles .about-entity .about-links {
        flex-direction: row; /* Ensures the icons stay in one row */
        column-gap: .5em; /* Adjusts the space between icons */
        row-gap: 10px; /* Adjusts the space between rows, though wrapping won't be common */
        flex-wrap: nowrap; /* Prevents the icons from wrapping to the next line */
        justify-content: center; /* Centers the icons on the screen */
    }
}


/* IV. Format headers */
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  color:#0466c8;
}


/* V. Format links */
a {
    color: #0466c8;
}

a:hover {
    color: #e63946;
}

/* VI. Format code snippets*/
code {
  color: #0466c8;
}

code span.sc {
  color: #0466c8;
  font-style: inherit;
}

code span.dv {
    color: #0466c8;
    font-style: inherit;
}

/* VII. Format page footer*/
/* A. Format page left footer text color */
footer.footer div.nav-footer p:first-child {
    color: #0466c8;
}

/* B. Format page footer links */
.nav-footer-left .footer-items .nav-link {
    display: inline-block;
    transition: transform 0.3s;
}

.nav-footer-right .footer-items .nav-link {
    color: #0466c8;
}

.nav-footer .footer-items .nav-link:hover {
    transform: scale(1.2);
}















div.quarto-post a {
    color: #033c73 !important;
    text-decoration:none
}






/* Add border to image in Jolla Author */
div.quarto-about-jolla img.round {
    border: 1px solid #033c73;
    margin-bottom: 0.5em;
}

/* Adjust horizontal line separator */
hr{
  margin-top: -1.4em;
  margin-bottom: 0.7em;
}

/* Adjust begining of photo in jolla about author */
div.quarto-about-jolla {
  margin-top: auto;
  margin-block: auto;
}






/* Customize side nav bar */
.sidebar nav[role="doc-toc"] > ul a {
    font-size: 14px;
    font-family: inherit;
}

.sidebar nav[role="doc-toc"] ul > li > a.active, .sidebar nav[role="doc-toc"] ul > li > ul > li > a.active, .sidebar nav[role="doc-toc"] ul > li > a:hover, .sidebar nav[role="doc-toc"] ul > li > ul > li > a:hover {
    border-left: 1px solid #FF9110;
    color: #FF9110 !important;
}


/*Justify video iframe center*/
iframe {
    margin: auto;
    display: block;
    aspect-ratio: 16 / 9;
    width: 100% !important;
}

/*Justify image center*/
img {
    margin-right: auto;
    margin-left: auto;
    display: block;
}





:root {
  --mermaid-label-fg-color: #033c73;
  --mermaid-edge-color: #033c73;
  --mermaid-node-fg-color: #033c73;
  --mermaid-node-bg-color: #a2d6f9;
}





/*
.webex-incorrect span::before, .webex-incorrect + .webex-icon::after {
    content: "\274e";
}
*/


/*
div.quarto-about-trestles .about-entity .about-links{
  justify-content: center;
}
*\



